{{>header}}
<div class="container">
    {{>nav}}
    <div class="jumbotron">
        <h1 class="display-4">404 🗺️</h1>
        <p class="lead">Lo sentimos, parece que no tenemos esa página en stock.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Regresa a la pagina de Inicio</a>
        </p>
    </div>
</div>
{{>footer}}
