{{>header}}
<div class="container">
    {{>nav}}
    <div class="container">
        <h1>Bienvenido al Proyecto Final del Computo en la Nube</h1>
        <p>En esta pagina encontraras un listado de diversos productos</p>
        <p><a href="/students">Lista de Productos</a></p>
    </div>
</div>
{{>footer}}
