<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/home-img.jpg" width="200">
    <div><a class="navbar-brand page-title">Proyecto Final <br> Inventario</a></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
                <a class="nav-link" href="/students">Lista de productos</a>
            </li>
        </ul>
    </div>
</nav>