{{>header}}
<div class="container">
    {{>nav}}
    <h1>Todos los productos</h1>
    <h4><a class="badge badge-success" href="/supplier-add">Agregar producto</a></h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Fecha de registro</th>            
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>            
        {{#productos}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{nombre}}</td>
            <td>{{descripcion}}</td>
            <td>{{precio}}</td>
            <td>{{cantidad}}</td>
            <td>{{fecha_creacion}}</td>        
            <!-- Actualizar registro -->
            <td><h4><span class="badge badge-warning"><a class="text-light" href="/supplier-update/{{id}}">edit</a></span></h4></td>
            <!-- Eliminar registro -->        
            <td>
                <h4>
                    <span class="badge badge-danger">
                        <form action="/supplier-remove/{{id}}" method="POST" style="display: inline;">
                            <button type="submit" class="text-light" style="background: none; border: none; color: inherit; cursor: pointer; padding: 0;">delete</button>
                        </form>
                    </span>
                </h4>
            </td>
            
        </tr>
        {{/productos}}
        </tbody>
    </table>
    

</div>
{{>footer}}
