<h1 style="text-align: center">DATOS DE NUEVO PRODUCTO</h1>
<div class="alert alert-primary">
    All fields are required
</div>
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input value="{{supplier.nombre}}" type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nameHelp" placeholder="Nombre del producto">
    <small id="nameHelp" class="form-text text-muted">Nombre de este producto</small>
</div>
<div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input value="{{supplier.descripcion}}" type="text" class="form-control" id="descripcion" name="descripcion" aria-describedby="addressHelp" placeholder="Ingresa la descripcion del producto">
    <small id="addressHelp" class="form-text text-muted">Descripcion del producto</small>
</div>
<div class="form-group">
    <label for="precio">Precio</label>
    <input value="{{supplier.precio}}" type="number" min="0" step="0.01" class="form-control" id="precio" name="precio" aria-describedby="cityHelp" placeholder="Ingresa el precio">
    <small id="cityHelp" class="form-text text-muted">Precio unico del producto</small>
</div>
<div class="form-group">
    <label for="cantidad">Cantidad</label>
    <input value="{{supplier.cantidad}}" type="number" name="cantidad" min="0" step="1" class="form-control" id="cantidad" aria-describedby="stateHelp" placeholder="Ingresa la cantidad">
    <small id="stateHelp" class="form-text text-muted">Cantidad de unidades del producto</small>
</div>


<!-- <div class="form-group">
    <label for="email">Email</label>
    <input value="{{supplier.email}}" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="enter email">
    <small id="emailHelp" class="form-text text-muted">Email for this student</small>
</div> -->
<!-- <div class="form-group">
    <label for="phone">Phone</label>
    <input value="{{supplier.phone}}" type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="enter phone">
    <small id="phoneHelp" class="form-text text-muted">Phone number for this student</small>
</div> -->